*
{
	box-sizing: border-box;
}

html, body
{
	margin: 0;
	padding: 0;
}

html
{
	height: 100%;
	min-width: 380px;
}

body
{
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13pt;
	background: #f2f5f7;
	color: #000;
	/*overflow-y: scroll;*/
	
	user-select: none;
}

body.unscrollable
{
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 700;
	margin: 0;
	padding: 0 0 0.6rem 0;
}

h1 { font-size: 25pt; }
h2 { font-size: 22pt; }
h3 { font-size: 19pt; }
h4 { font-size: 16pt; }
h5 { font-size: 13pt; }
h6 { font-size: 10pt; }

p
{
	margin: 0;
	padding: 0 0 0.8rem 0;
}


/**********************************/

#main-wrapper
{
	width: 100%;
	height: 100%;
	min-width: 370px;
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
}

#header
{
	height: 100px;
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 700;
	background: #007ac9;
	color: #fff;
	text-align: center;
	font-size: clamp(16pt, 3vmin, 25pt);
	padding: 1rem 0;
	flex-grow: 0;
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

#main-content
{
	flex-grow: 4;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	/*padding: 2rem 1rem 1rem 1rem;*/
	
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

#footer
{
	padding: 1.2rem 1rem;
	flex-grow: 0;
	font-size: 10pt;
	color: #aaa;
	background: #fff;
	text-align: center;
	border-top: 1px solid #ddd;
}

/**********************************/

#bus-stops
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
  	display: grid;
  	grid-template-columns: 1fr;
	grid-template-rows: 80px 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;
	background: #0057a2;
}

#bus-stops .stop-selector
{
	justify-content: center;
	align-self: center;
	padding: 0.75rem;
	color: #fff;
	
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}


#bus-stops .stop-selector .inner
{
	width: 100%;
	max-width: 600px;
	
	display: grid;
  	grid-template-columns: 1fr 80px;
	grid-template-rows: 1fr;
	grid-column-gap: 0.5rem;
	grid-row-gap: 0;
}

#bus-stops .stop-selector select
{
	background: #0C6CBE;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PHBhdGggZmlsbD0nbm9uZScgc3Ryb2tlPScjRkZGRkZGJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMicgZD0nTTIgNWw2IDYgNi02Jy8+PC9zdmc+");
	background-repeat: no-repeat;
	background-position: right .75rem center;
	background-size: 24px 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	border: none;
	outline: none;
	
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 700;
	font-size: clamp(13pt, 3vmin, 25pt);
	color: #fff;
	padding: 0.75rem 1.5rem;
	border-radius: 7px;
	cursor: pointer;
	
	text-align: center;
	
	white-space: nowrap;
}

#bus-stops .stop-selector select option
{
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 700;
	text-align: center;
}


#bus-stops .stop-selector button
{
	background: #0C6CBE;
	border: none;
	outline: none;
	
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 700;
	font-size: clamp(13pt, 3vmin, 25pt);
	color: #fff;
	padding: 0.75rem 1.5rem;
	border-radius: 7px;
	cursor: pointer;
}

#bus-stops .stop-selector select:hover,
#bus-stops .stop-selector button:hover
{
	background-color: #2886D7;
}

#bus-stops .stop-selector button.close-button
{
	font-size: 30px;
	padding: 10px;
}

#bus-stops .iframe-container
{
}

#bus-stops .iframe-container iframe
{
	position: relative;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

/**********************************/

#edit-dialog
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  	background: #0004;
  	
  	display: grid;
  	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;
	
	z-index: 999999;
}

#edit-dialog .inner
{
	max-width: 400px;
	
	justify-self: center;
	align-self: center;
	
	border: 1px solid #2E69B0;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 30px #0006;
	padding: 0;
	overflow: hidden;
}

#edit-dialog h2
{
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 500;
	background: #007ac9;
	color: #fff;
	padding: 1rem 2rem;
	text-align: center;
}

#edit-dialog p
{
	padding: 1.5rem 2rem 0 2rem;
}

#edit-dialog .content
{
	display: grid;
	grid-template-columns: 1.2fr 1fr 1fr 1.2fr;
	grid-template-rows: 1fr 1fr 0.75fr;
	grid-column-gap: 0.5rem;
	grid-row-gap: 0.5rem;
	padding: 2rem;
}

#edit-dialog .content > *
{
	height: 50px;
}

#edit-dialog .content > button
{
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 500;
	background: #007ac9;
	color: #fff;
	border: 1px solid #0365A4;
	border-radius: 3px;
	outline: none;
	font-size: 13pt;
}

#edit-dialog .content > button:focus
{
	border: 3px solid #38A4EA;
	box-shadow: 0 0 3px #9DD8FE;
}

#edit-dialog .content > button:active
{
	border: 2px solid #64E3D9;
	box-shadow: 0 0 6px #9DD7FC;
	background: #0368AA;
	padding-top: 3px;
}

#edit-dialog .content > .decrease-button,
#edit-dialog .content > .increase-button
{
	font-size: 60px;
	line-height: 0;
}

#edit-dialog .content > .decrease-button,
#edit-dialog .content > .increase-button,
#edit-dialog .content .current-value
{
	height: 60px;
}

#edit-dialog .content .current-value
{
	grid-column: 2 / span 2;
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 500;
	color: #222;
	font-size: 14pt;
	text-align: center;
	outline: none;
	border: 1px solid #777;
}

#edit-dialog .content .current-value.invalid
{
	border: 2px solid #f44;
}

#edit-dialog .content .current-value.dirty
{
	border: 2px solid #E0A901;
}

#edit-dialog .content > .reset-button
{
	height: 40px;
	margin-top: 0.5rem;
	grid-column: 1 / span 4;
	background: #E9E9E9;
	border: 1px solid #DADADA;
	color: #111;
}

#edit-dialog .content > .cancel-button
{
	grid-column: 1 / span 2;
}

#edit-dialog .content > .save-button
{
	grid-column: 3 / span 2;
}

/**********************************/

.bus-stops-button
{
	display: block;
	padding: 0.4rem 3rem 0.6rem 3rem;
	border: 1px solid transparent;
	border-radius: 6px;
	background: #f1f1f1;
	color: #303030;
	font-size: 13pt;
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 500;
	margin: 1rem auto 0 auto;
	cursor: pointer;
}

.bus-stops-button:hover
{
	background: #f5f5f5;
	border: 1px solid #E4E4E4;
	color: #454545;
}

div.content-inner
{
	width: 100%;
	text-align: center;
	background: #fff;
	padding: clamp(1.5rem, 5vmax, 4rem) 1rem clamp(1.5rem, 3.5vmax, 4rem) 1rem;
	margin: 0.3rem 0;
	border: 1px solid #ddd;
	border-radius: 4px;
}

div.stage
{
	
}

h1
{
	padding-bottom: 1rem;
}

div.ticket-zones
{
	width: 350px;
	display: flex;
	flex-flow: column nowrap;
	/*align-items: center;*/
	/*justify-content: space-around;*/
	/*gap: 0.5rem;*/
	
	border: 1px solid #e5e5e5;
	border-radius: 10px;
	
	margin: 0 auto;
	padding: 0.4rem;
}

div.ticket-zones div.ticket
{
	text-align: center;
}

div.ticket-zones div.ticket:nth-child(even)
{
	background: #f4f4f4;
}
div.ticket-zones div.ticket:nth-child(odd)
{
}

div.ticket div.ticket-inner
{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-template-rows: 1fr; 
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 0.25rem 0.75rem;
}

div.stage.ticket-selection  div.ticket-inner
{
	cursor: pointer;
}


div.ticket.chosen-ticket div.ticket-inner
{
	border: 2px solid #F9B68A;
	position: relative;
	padding: 1rem 0.75rem 0.5rem 0.75rem;
}

div.ticket.chosen-ticket div.ticket-inner:after
{
	width: 100%;
	position: absolute;
	top: -0.5rem;
	/*left: 0px;*/
	text-align: center;
	
	content: 'Valittu';
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 700;
	color: #0865A2;
	text-shadow: -1px -1px #fff,
				 -1px  0px #fff,
				  0px -1px #fff,
				  1px  0px #fff,
				  1px  1px #fff,
				  0px  1px #fff,
				  0    1px 2px #0008
				 ;
}

div.ticket-active div.ticket
{
	max-width: 380px;
	margin: 0 auto;
	cursor: auto;
}

div.stage.ticket-selection div.ticket:hover div.ticket-inner
{
	border: 2px solid #E2E2E2;
}

div.stage.ticket-selection div.ticket.chosen-ticket:hover div.ticket-inner
{
	border-color: #FE7B25;
}

div.ticket div.pill
{
	display: block;
	width: fit-content;
	align-self: center;
	padding: 0.12rem 1rem 0.18rem 1rem;
	line-height: 2.3rem;
	border-radius: 100px;
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 700;
	background: #007ac9;
	color: #fff;
	font-size: 25pt;
	transition: all ease-out 60ms;
	white-space: nowrap;
}

div.ticket-zones div.ticket:hover div.pill
{
	background: #106DA9;
}

div.ticket div.validity
{
	display: block;
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 500;
	color: #000;
	font-size: 16pt;
	text-align: left;
	padding-left: 1rem;
	align-self: center;
}

div.ticket div.pill > span
{
	display: inline-block;
	width: 2rem;
}


div.stage.ticket-selection div.ticket.ticket-BC div.pill,
div.stage.ticket-selection div.ticket.ticket-BCD div.pill
{
	margin-left: 2rem;
}

div.stage.ticket-selection div.ticket.ticket-CD div.pill
{
	margin-left: 4rem;
}

div.stage.ticket-selection div.ticket.ticket-D div.pill
{
	margin-left: 6rem;
}

div.edit-ticket a
{
	display: inline-block;
	padding: 1.5rem 0 1rem 0;
}


/***********************************************/

div.stage.ticket-active div.ticket div.pill
{
	justify-self: center;
}

div.stage.ticket-active .hard-reset
{
	/*font-weight: 400;*/
	font-size: 12pt;
}

/***********************************************/

div.remaining-validity
{
	padding: 2rem 0 1rem 0;
}

div.remaining-validity p.time-remaining
{
	font-family: 'Gotham Rounded', sans-serif;
	font-size: 20pt;
	font-weight: 500;
	padding: 0 0 1.2rem 0;
}

div.remaining-validity p.validity-ends
{
	font-size: 14pt;
	padding: 0 0 2rem 0;
}

div.remaining-validity p.bought-on
{
	padding: 0 0 2rem 0;
	color: #888;
}

div.remaining-validity p.bought-on-future
{
	padding: 0 0 2rem 0;
	font-size: 14pt;
}

div.reset-ticket
{
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 500;
}

div.reset-ticket button
{
	background: #007ac9;
	font-size: 12pt;
	color: #fff;
	padding: 0.5rem 1.2rem 0.5rem 1.2rem;
	margin-left: 1rem;
	border-radius: 100px;
	border: 0;
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: 500;
	cursor: pointer;
}


div.reset-ticket button:hover
{
	background: #156AA1;
}

a, a:visited
{
	color: #156AA1;
	text-decoration: none;
	cursor: pointer;
}
a:hover, a:active
{
	color: #368CC4;
	text-decoration: underline;
}

.ng-cloak
{
	display: none !important;
}
